USE [master]
GO
/****** Object:  Database [Sales]    Script Date: 23.02.2021 22:22:09 ******/
CREATE DATABASE [Sales]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sales', FILENAME = N'F:\lab_2\Sales.mdf' , SIZE = 8192KB , MAXSIZE = 10240KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Sales_log', FILENAME = N'F:\lab_2\Sales_log.ldf' , SIZE = 10240KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sales].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sales]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23.02.2021 22:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[IdCustomer] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](50) NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[IndexCode] [varchar](10) NULL,
	[Phone] [varchar](20) NULL,
	[E-mail] [nchar](100) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 23.02.2021 22:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[IdItems] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NOT NULL,
	[IdProduct] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Total] [smallmoney] NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[IdItems] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 23.02.2021 22:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[IdOrder] [int] IDENTITY(1,1) NOT NULL,
	[IdCustomer] [int] NOT NULL,
	[OrderData] [smalldatetime] NOT NULL,
	[ShipDate] [date] NULL,
	[PaidDate] [date] NULL,
	[Status] [char](1) NULL,
 CONSTRAINT [pk_order] PRIMARY KEY CLUSTERED 
(
	[IdOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 23.02.2021 22:22:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[IdProducts] [int] IDENTITY(1,1) NOT NULL,
	[PrName] [nvarchar](100) NOT NULL,
	[PrPrice] [smallmoney] NULL,
	[InStock] [int] NULL,
	[ReOrder] [bit] NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[IdProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([IdCustomer], [CompanyName], [LastName], [FirstName], [Address], [City], [IndexCode], [Phone], [E-mail]) VALUES (1, N'Google', N'Goo', N'gle', N'USA, Sacramento, CA 95815', N'Sacramento', N'353555', N'+55992935823', N'google@gmail.com                                                                                    ')
INSERT [dbo].[Customers] ([IdCustomer], [CompanyName], [LastName], [FirstName], [Address], [City], [IndexCode], [Phone], [E-mail]) VALUES (2, N'Facebook', N'Face', N'Book', N'USA, Sacramento, CA 234235', N'Sacramento', N'253555', N'+45463467323', N'facebook@gmail.com                                                                                  ')
INSERT [dbo].[Customers] ([IdCustomer], [CompanyName], [LastName], [FirstName], [Address], [City], [IndexCode], [Phone], [E-mail]) VALUES (3, N'Apple', N'App', N'Le', N'USA, Sacramento, CA 3453465', N'Sacramento', N'556778', N'+34634634', N'Apple@gmail.com                                                                                     ')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Items] ON 

INSERT [dbo].[Items] ([IdItems], [IdOrder], [IdProduct], [Quantity], [Total]) VALUES (1, 8, 15, 456, 5624.0000)
INSERT [dbo].[Items] ([IdItems], [IdOrder], [IdProduct], [Quantity], [Total]) VALUES (2, 7, 14, 4334, 2462.0000)
INSERT [dbo].[Items] ([IdItems], [IdOrder], [IdProduct], [Quantity], [Total]) VALUES (3, 6, 13, 123, 1241.0000)
SET IDENTITY_INSERT [dbo].[Items] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([IdOrder], [IdCustomer], [OrderData], [ShipDate], [PaidDate], [Status]) VALUES (1, 8, CAST(N'2021-02-23T22:02:00' AS SmallDateTime), CAST(N'2020-07-12' AS Date), CAST(N'2003-12-21' AS Date), N'C')
INSERT [dbo].[Orders] ([IdOrder], [IdCustomer], [OrderData], [ShipDate], [PaidDate], [Status]) VALUES (2, 7, CAST(N'2021-02-23T22:02:00' AS SmallDateTime), CAST(N'2020-03-01' AS Date), CAST(N'2006-11-25' AS Date), N'C')
INSERT [dbo].[Orders] ([IdOrder], [IdCustomer], [OrderData], [ShipDate], [PaidDate], [Status]) VALUES (3, 6, CAST(N'2021-02-23T22:02:00' AS SmallDateTime), CAST(N'2021-07-03' AS Date), CAST(N'2009-03-09' AS Date), N'C')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([IdProducts], [PrName], [PrPrice], [InStock], [ReOrder], [Description]) VALUES (1, N'loaf', 100.0000, 6, 1, N'батон ')
INSERT [dbo].[Products] ([IdProducts], [PrName], [PrPrice], [InStock], [ReOrder], [Description]) VALUES (2, N'loaf', 100.0000, 6, 1, N'батон')
INSERT [dbo].[Products] ([IdProducts], [PrName], [PrPrice], [InStock], [ReOrder], [Description]) VALUES (3, N'hamburger', 2345.0000, 324, 0, N'гамбургер')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderData]  DEFAULT (getdate()) FOR [OrderData]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Orders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([IdOrder])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Orders]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_Products] FOREIGN KEY([IdProduct])
REFERENCES [dbo].[Products] ([IdProducts])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Products]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customers] ([IdCustomer])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [CK_IndexCode] CHECK  (([IndexCode] like '[0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [CK_IndexCode]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK_Status] CHECK  (([Status]='C' OR [Status]='P'))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK_Status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_InStock] CHECK  (([InStock]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_InStock]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [CK_PrPrice] CHECK  (([PrPrice]>=(0)))
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [CK_PrPrice]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Ограничение на значение почтового индекса' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Customers', @level2type=N'CONSTRAINT',@level2name=N'CK_IndexCode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Можно ввести''C'' или ''P''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Orders', @level2type=N'CONSTRAINT',@level2name=N'CK_Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Значение должно быть больше или равно 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'CONSTRAINT',@level2name=N'CK_InStock'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Значения должно быть больше или равно 0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Products', @level2type=N'CONSTRAINT',@level2name=N'CK_PrPrice'
GO
USE [master]
GO
